#education-view{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	color: white;
}

.tl{
	text-align: left!important;
	width: 100%;
}

.flex-col{
	display: flex;
	width: 90%;
}
.flex-alcenter{
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

@media(max-width : 760px){ 
	#education-view{
		height: auto !important
  }
	.flex-col{
		flex-direction: column;
	}
	.flex-alcenter{
		align-items: center!important;
	}
}