#landing-view {
	height: 100vh;
	display: flex;
	flex-direction: column;
	color: white;
	overflow: hidden;
}

.landing-title{
	width: 100%;
	margin-top: 40px; 
}

.bounties-mobile{
	padding: 24px 10%;
	display: none;
}

.landing-content-container{
	width: 50%;
	display: flex;
	flex-direction: column;
	padding-left: 60px;
	z-index: 10;
	margin-top: 10vh;
}

@media (max-width: 1024px){

    #landing-view{
        height: 100%;
    }

	.landing-content-container{
		width: 100%;
		padding: 24px;
	}

	.land-bottom{
		display: none;
	}

	.landing-title{
		width: 100%;
		margin-top: 0px;
	}

	.bounties-mobile{
		display: block;
	}

}