.head {
    padding: 0 5px;
}

.launch {
    display: flex;
    align-items: center;
    background-color: #F5A623;
    border-radius: 30px;
    height: 50%;
}

.bright {
    color: #F5A623;
}

.ham{
    display: none;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.nav-tabs{
    display: flex,
}

.three{
    margin-right: 3rem;
}

.eight{
    width: 8rem;
}

@media (max-width: 1024px){

    .nav-tabs{
        display: none;
    }

    .header-container {
        align-items: center;
    }
    
    
    .ham{
        display: block;
    }
}