.App {
  text-align: center;
  overflow-y: hidden;
  background-color: black;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

@font-face {
  font-family: boldFont;
  src: url("./assets/fonts/league-spartan-bold.otf");
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

p > span {
 color: #F5A621;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title-bb {
  font-family: boldFont;
  font-size: 45px;
}

.subtitle-bb {
  font-family: boldFont;
  font-size: 33px;
}

.button-text-bb {
  font-family: boldFont;
  font-size: 22px;
}

.button-container {
  padding: 10px 20px;
  display: flex;
	align-items: center;
	background-color: #F5A623;
  border-radius: 26px;
  gap: 10px;

  
}

.button-container:hover{
    cursor: pointer;
}

.caption-bb {
  font-size: 18px;
  font-family: Arial;
}
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F5A621;
  opacity: 0.1;
  border-radius: 6px;
}



