#vision-view{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	// align-items: center;s
	background-color: black;
	color: white;
    position: relative;
}

.title-container{
    width: 100%;
    height: 20vh;
    z-index: 100;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 10px;

    p{
        width: 60%;
    }

    span{
        color: white;
    }
}

.section-2{
    flex: 1;
    display: flex;
    align-items: center;
}

.quote-text{
    display: none;
}

.content-container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    margin-top: 24px;
    .content-image{
        flex: 1;
        display: flex;
        align-items: flex-start;

        .vision-image{
            width: 70%;
        }
    }

    .content-text{
        flex: 1;

        p{
            text-align: left;
        }

        .add-margin{
            margin-top: 20px;
        }
    }
}

@media (max-width: 760px){

    #vision-view{
        min-height: 100%;
    }


    .title-container{
        height: 100%;
        z-index: 100;
        margin-bottom: 0;
        p{
            width: 100%;
        }

        span{
            color: #F5A621;
        }

        .subtext{
            display: none;
        }

    }

    .quote-text{
        display: block;
    }

    .vision-bg{
        display: none;
    }

    .content-container{
        padding: 0 24px;
        flex-direction: column;
        align-items: center;

        .content-image{
            .vision-image{
                width: 100%;
            }

        }
        .content-text{
            margin-top: 20px;
            p{
                text-align: center;
            }
    
            .add-margin{
                margin-top: 20px;
            }
        }

        
    }

}